<div class="registration-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-icon">
      <span><i class="icon icon-user"></i></span>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control item',placeholder: 'Email Address' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:'form-control item',placeholder: 'Password' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me, class:"form-check-input mt-0" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Log in",class:"btn btn-block create-account" %>
    <%= render "users/shared/links" %>
  </div>
<% end %>
  <div class="social-media">
    <h5>Sign in with social media</h5>
      <div class="social-icons">
        <%= link_to '<i class="fa fa-facebook" title="Facebook"></i>'.html_safe, user_facebook_omniauth_authorize_path, method: :post %>
        <%= link_to '<i class="fa fa-google" title="Google"></i>'.html_safe, user_google_oauth2_omniauth_authorize_path, method: :post %>
        <%= link_to '<i class="fa fa-twitter" title="Twitter"></i>'.html_safe, user_twitter_omniauth_authorize_path, method: :post %>
      </div>   
  </div>
</div>
