<br>
<div class="main">
<div class="container">
<center><h3>Profile Page</h3></center>
 <%= form_with(model:@user) do |f| %>
  <div class="form-outline mb-2">
      <%= f.label :name, class:'form-label' %>
      <%= f.text_field :name,class:'form-control' %>
  </div>
  <br>
  <div class="form-outline mb-4">
      <%= f.label :profile_image,"Upload Image", class:'form-label' %>
      <%= f.file_field :profile_image, class:'form-control' %>
  </div>
      <%= f.submit :submit,class: 'btn btn-danger' %>
 <% end %>
<br>
</div >
</div>