<div class="container" id="products_form">
<% if @product.errors.any? %>
     <% @product.errors.full_messages.each do |message|%>
         <h6><%= message %> </h6>
     <%end%>
<%end%>
</div>
<br>
<%= form_with(model:@product, local: false, class: 'product-form',id: 'productForm') do |f| %>
     <div>
          <%= f.label :file %>
          <%= f.file_field :product_csv, autofocus: true, class:'form-control' %>
     </div>
     <br>
     <div>
          <%= f.label :image %>
          <%= f.file_field :product_image, autofocus: true, class:'form-control' %>
     </div>
     <br>
     <div>
          <%= f.label :name %>
          <%= f.text_field :name, class:'form-control',id: 'productName' %>
     </div>
     <br />
     <div> 
          <%= f.label :price %> 
          <%= f.text_field :price,class:'form-control', id: 'productPrice' %>
     </div>
     <br />
     <div>
          <%= f.label :category_id %><br>
          <%= f.select :category_id,(Category.all.map{|e| [e.category_name, e.id]}),class:'form-control', id: 'catSelect' %>
     </div>
     <br />  
          <%= f.submit :submit,class:'btn btn-success' %>
<% end %>
<script>

    $("form#productForm").validate({
        rules:{
            'product[name]':{
               required: true,
               minlength: 4  
            },
            'product[price]':{
               required: true
            },
            'product[product_image]':{
                 required: true
            }
         },     
        messages: {
            'product[name]':{
                required: "Name is Required",
                minlength: "Enter at least 4 character"
            },
            'product[price]':{
                required: "price is Required"
            },
            'product[product_image]':{
                 required: 'File is Required'
            }
            
        }
        
    });

</script>





     