<!DOCTYPE html>
<html>
  <head>
    <title>Sales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>

     <% if flash.any? %>
        <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success').gsub('info','info').gsub('warning','warning') %>
            toastr['<%= type %>']('<%= f[1] %>', '', {
                 "closeButton": false,
                 "positionClass": "toast-top-center", 
                 "onclick": null, 
                 "showDuration": "300", 
                 "hideDuration": "1000", 
                 "timeOut": "3000", 
                 "extendedTimeOut": "1000", 
                 "showEasing": "swing", 
                 "hideEasing": "linear", 
                 "showMethod": "fadeIn", 
                 "progressBar": true,
                 "hideMethod": "fadeOut" });
          <% end %>
        </script>
     <% end %>
  </body>
</html>
