<div class="registration-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),class:'form-card') do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="form-icon">
      <span><i class="icon icon-user"></i></span>
    </div>

    <div class="form-group">
      <%= f.label :Profile_image %><br>
      <%= f.file_field :user_image, autofocus: true, class:'form-control item' %>
    </div>

    <div class="form-group">
      <%= f.label :firstname %><br>
      <%= f.text_field :firstname, autofocus: true, class:'form-control item', autocomplete: "firstname",placeholder: 'Firstname' %>
    </div>

    <div class="form-group">
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname, autofocus: true, class:'form-control item', autocomplete: "lastname",placeholder: 'lastname' %>
    </div>

    <div class="form-group">
      <%= f.label :Email %><br>
      <%= f.email_field :email, autofocus: true, class:'form-control item', autocomplete: "email",placeholder: 'Email Address' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password,class:'form-control item', autocomplete: "new-password",placeholder: 'Password (min 6 character)' %>
    </div>

    <div class="form-group">
      <%= f.label :confirm_password %><br />
      <%= f.password_field :password_confirmation, class:'form-control item', autocomplete: "new-password",placeholder:'Confirm password' %>
    </div>

    <div class="form-group">
      <%= f.submit "Create Account",class:"btn btn-block create-account" %>
      <%= render "users/shared/links" %>
    </div>
  <% end %>
  <div class="social-media">
    <h5>Sign up with social media</h5>
      <div class="social-icons">
        <%= link_to '<i class="fa fa-facebook" title="Facebook"></i>'.html_safe, user_facebook_omniauth_authorize_path, method: :post %>
        <%= link_to '<i class="fa fa-google" title="Google"></i>'.html_safe, user_google_oauth2_omniauth_authorize_path, method: :post %>
        <%= link_to '<i class="fa fa-twitter" title="Twitter"></i>'.html_safe,  user_twitter_omniauth_authorize_path, method: :post %>
      </div>
  </div>
</div>

